body {
  margin: 0px auto;
  padding: 20px;
  font-size: 18px;
  font-style: sans-serif;
  background-color: white; }

#new-post {
  margin: 0px; }

li {
  list-style: none; }

#logout {
  padding-left: 10px; }

#dashboard {
  background: #ccc;
  height: 30px;
  line-height: 10px;
  font-weight: bold; }

.posts {
  margin: 0px;
  padding: 0px; }

#content-body h1 {
  margin-bottom: 50px; }

.flash-li {
  list-style-type: none;
  background-color: green;
  margin: 0px;
  padding-left: 5px;
  color: white;
  font-weight: bold; }

.flashes {
  margin: 0; }
