{% extends "layout.html"  %}
{% block content %}
show all posts
<div class="row">
<div id="container">
    <ul class="posts">
       {% for post in posts %}
       <!--post list-->
        <li><a href="posts/{{post.id}}">{{post.body.split('\n')[0].strip("#").decode("utf-8")}}</a></li>
        <div class="created_at">{{post.created_at}}</div>
        <a class='btn' href="{{url_for('edit_post',post_id=post.id)}}">Edit</a>
	   <form action='{{url_for("delete_post",post_id=post.id)}}' method='post'>
		   <input type='submit' class='btn' name='delete' value='delete'/>
	   </form>
<!--
       {% endfor %}
    </ul>
</div>
</div>
{% endblock %}
